{% extends 'base.html' %}

{% block navbar %}
  {% include "nav.html" %}
{% endblock %}

{% block content %}
<div class="container p-2">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><h4 style="font-family: 'Signika Negative', sans-serif;">latest qoute</h4> </div>
        <div class="card-body">
          <h5 class="card-title"  style="font-family: 'Playball', cursive;">{{ quotes.author }}</h5>
          <p class="card-text"  style="font-family: 'Playball', cursive;">" {{ quotes.quote }}"
          </p>
          <p class="card-text" style="font-family: 'Alex Brush', cursive;">" {{ quotes.id }}"
            </p>
        </div>
      </div>
    </div>
  </div> 
</div>

{% endblock %}

{% block footer %} 
    {% include "footer.html" %}
{% endblock %}