{% extends 'base.html' %}

{% block css %} 
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block navbar %} 

<nav class="navbar navbar-expand-lg navbar-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler bg-light"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarRightAlignExample"
        aria-controls="navbarRightAlignExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarRightAlignExample">
        <!-- Left links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item Home">
            <a style="text-shadow: 2px 2px 2px black; color: white; font-family: 'Signika Negative', sans-serif;" class="nav-link active" aria-current="page" href="{{ url_for('main.home') }}">Home</a>
          </li>
         
          <li class="nav-item">
            <a style="text-shadow: 2px 2px 2px black; color: white; font-family: 'Signika Negative', sans-serif;" class="nav-link" href="{{ url_for('main.blogs') }}">Blogs</a>
          </li>
          
          <li class="nav-item">
            <a style="text-shadow: 2px 2px 2px black; color: white; font-family: 'Signika Negative', sans-serif;" class="nav-link" href="{{ url_for('main.quotes') }}">Quotes</a>
          </li>

          <li class="text-center" style="text-shadow: 2px 2px 2px black; margin-left:-1rem;">
            {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a style="margin-left:1rem; text-shadow: 2px 2px 2px black; color: white; font-family: 'Signika Negative', sans-serif;" class="nav-link" href="{{ url_for('auth.Account') }}">Profile</a>
              </li>
              <a href="{{ url_for('auth.signOut') }}"><button style="margin-left:1rem; font-family: 'Signika Negative', sans-serif;"  type="button"
              class="btn btn-outline-success btn-rounded "
              data-mdb-ripple-color="dark">log out</button></a>
            {% else %}
              <a href="{{ url_for('auth.signUp') }}"><button  type="button" class="btn btn-success btn-rounded" style="font-family: 'Signika Negative', sans-serif; position: relative;left: 1.5rem; top: 0px; z-index: 1;">Sign Up</button></a>
              <a href="{{ url_for('auth.signIn') }}"><button style="font-family: 'Signika Negative', sans-serif;"  type="button"
              class="btn btn-outline-success btn-rounded"
              data-mdb-ripple-color="dark">Sign In</button></a>
            {% endif %}
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>


{% endblock %}

{% block content %}

<body>
    <div class="container-fluid">

    </div>
</body>

{% endblock %}