{% extends 'base.html' %}

{% block navbar %}
  {% include "nav.html" %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="media">
            <figure class="figure">
                <img
                  src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(45).jpg"
                  class="figure-img img-fluid rounded shadow-3 mb-3"
                  alt="..."
                />
                <figcaption class="figure-caption">Your ussername is : {{ current_user.username }}.</figcaption>
                <figcaption class="figure-caption">Your email-adress is : {{ current_user.email }}</figcaption>
            </figure>

        </div>
    </div>

{% endblock %}