/* font-family: 'Signika Negative', sans-serif; { headings }*/
/* font-family: 'Playball', cursive; {notes} */
/* font-family: 'Alex Brush', cursive; {deco} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(
        0deg
        ,rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('/static/images/erwann-stephanne-Th8LYj0vpUY-unsplash.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    perspective: 100rem;
}
